body{
    background-color: #e7d6d9;
}

h1{
    margin-top:65px;
    font-size:20px;
    color:rgb(55, 55, 102);
    text-shadow: -2px +5px 7px #111;
    font-family:'Lumanosimo', cursive;
    font-style:italic;
    margin-left:390px;
   
}

form{

    width:40%;
    height:fit-content;
    padding:20px 20px 20px 20px;
    margin-left:300px;
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    color:#fff;
    
    display:block;
    background-image:url(../images/ark\ blue\ backgrouynd.png);
    border: double 8px rgb(238, 238, 241);
    border-radius: 100px;
    margin-top:-20px;
}
label{
    margin:180px;
}
input,select{
    width:200px;
    background-color: #e7d6d9;
    block-size:32px;
    resize:vertical horizontal;
    margin-left:200px;
    border-radius: 8px;
    border-style: double 3px #fff;

   
}
textarea{
    width:350px;
    height:60px;
    block-size:  150px;
    margin-left:153px;
    background-color: #e7d6d9;
    border-radius: 10px;
}
text{
    margin-left:60px;
}

button{
   color:#fff;
   background-color: rgb(24, 26, 56);
   font-size: 17px;
   margin-left: 260px;
}
.our-contacts{
width:20%;
height:fit-content;

padding:10px 10px 10px 20px;
background-color: #e7bec1;
display:block;
border:double 8px rgb(51, 51, 85);
border-radius: 10%;;
margin-left:900px;
margin-top:-320px;
}
.our-contacts li a{
    color:rgb(27, 27, 58);
    font-size:17px;
    text-decoration: none;
}
.our-contacts li{
    list-style:circle;
    
}
.our-contacts p{
    margin-bottom:-5px;
}

.title{
    margin-left:1000px;
    margin-bottom:-00px;
}


